.header-button:hover svg{
    animation: button 2s infinite;
    }
@keyframes button {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px); 
                }
}