.header-button:hover svg{
    animation: button 2s infinite;
    }
@keyframes button {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px); 
                }
}
.featured-logos{
    animation:slide-right  5s ease-in-out infinite;
    }
    .swiper-wrapper{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
@media (max-width:768px) {
    @keyframes slide-right {
    0% {
      transform: translateX(10%);
    }

    100% {
      transform: translateX(-70%);
    }
  }
}